from uuid import UUID
from typing import Optional
from pydantic import BaseModel, EmailStr, ConfigDict


from app.api.models.user import UserType


{% set use_google = cookiecutter.auth_with_google == "yes" %}
{% set use_github = cookiecutter.auth_with_github == "yes" %}


class UserBase(BaseModel):
    type: UserType
    is_active: bool = False
    is_verified: bool = False

    model_config = ConfigDict(from_attributes=True)

{% if use_google %}
class GoogleUser(UserBase):
    google_id: Optional[str] = None
    google_email: Optional[EmailStr] = None
{% endif %}

{% if use_github %}
class GithubUser(UserBase):
    github_id: Optional[str] = None
    github_email: Optional[EmailStr] = None
{% endif %}


class EmailUser(UserBase):
    email: Optional[EmailStr] = None

{% if use_google and use_github %}
class UserInDB(GoogleUser, GithubUser, EmailUser):
    hashed_password: Optional[str] = None
{% elif use_google and not use_github %}
class UserInDB(GoogleUser, EmailUser):
    hashed_password: Optional[str] = None
{% elif not use_google and use_github %}
class UserInDB(GithubUser, EmailUser):
    hashed_password: Optional[str] = None
{% else %}
class UserInDB(EmailUser):
    hashed_password: Optional[str] = None
{% endif %}

{% if use_google %}
class GoogleUserResponse(GoogleUser):
    id: UUID
{% endif %}

{% if use_github %}
class GithubUserResponse(GithubUser):
    id: UUID
{% endif %}


class EmailUserResponse(EmailUser):
    id: UUID
